@model IEnumerable<HTTP_5101_Assignment3_n01357205.Models.Teacher>
@{
    ViewBag.Title = "Teacher's List";
}

<h2>Teacher's List</h2>

@foreach(var teacher in Model)
{
    <div class="teacherList">
        <p>Teacher name : @teacher.teacherFname @teacher.teacherLname</p>
        <p>Teacher employeenumber : @teacher.employeeNumber</p>
        <p>Teacher Hire date : @teacher.hireDate</p>
        <p>Teacher Salary : @teacher.teacherSalary</p>
    </div>
}

