@model HTTP_5101_Assignment3_n01357205.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Details for Teacher Id: @Model.teacherId</h2>

<div class="teacherList">
    <p>Teacher name : @Model.teacherFname @Model.teacherLname</p>
    <p>Teacher employeenumber : @Model.employeeNumber</p>
    <p>Teacher Hire date : @Model.hireDate</p>
    <p>Teacher Salary : @Model.teacherSalary</p>
</div>